<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- SEO Meta -->
  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.subTitle}}" />
  <meta name="keywords" content="{{meta.tags}}" />

  <style>
    body { font-family: sans-serif; padding: 20px; }
    img { max-width: 100%; border-radius: 8px; }
    h1, h2, h3 { font-weight: 600; }
    table { width: 100%; border-collapse: collapse; margin: 20px 0; }
    table td, table th { border: 1px solid #ccc; padding: 8px; }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>
